
#- files/folders ignored by npm
#- https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package
#- auto-ignores "./node_modules/", "./.git/"

#- ignore the about folder
.about

#- ignore github's template folder
.github

#- ignore NetBeans' project folder
nbproject
